
$mainBodyBg: #fff;

/* buttons colors variables */
$primaryButtonBg: #f4c641;
$primaryButtonTx: #515e66;

$saveButtonBg: #f4c641;
$saveButtonTx: #515e66;

$cancelButtonBg: #515e66;
$cancelButtonTx: #ffffff;

$editButtonBg: #2ed0f0;
$editButtonTx: #ffffff;

$approveButtonBg: #008000;
$approveButtonTx: #ffffff;

$rejectButtonBg: #FF0000;
$rejectButtonTx: #ffffff;


/* Header variables */
$headerBG: #e5e9ec;
$headerLogo: url(../images/logo.png) no-repeat 50% 50%;
$headerBorder: #e5e9ec;
$logoWidth: 284px;
$logoHeight: 35px;

/* footer variables */



$footerBgColor: #e5e9ec;
$footerFontColor: #000000;

/* FOOTER ELEMENT VARIABLES don't modify below */
 // can have absolute/relative/fixed default value: fixed
/* FOOTER ELEMENT VARIABLES don't modify below */

// these variable are defined for header logo, position, height and widht 



/* LADING PAGE VARIABLES */
$iconsBG: #FCD148;
$iconsColor: #000;
$iconsTxColor: #000;
$white: #ffffff;
$black: #000000;

$landingIconsBg: #e5e9ec;

/* TIMESHEETS LANDING PAGE */

$timeheetsHeadingBg: #cddae2;
$timeheetsHeadingTx: #515e66;

$headDateTx: #ce7f29;


$tableBorder: #cddae2;
$tHeadBg: #ce7f29;
$tHeadTx: #ffffff;
$rowColor: #445159;
$rowColorAlt: #5f6c74;
$rowColorHover: #244d67;
$rowColotTx: #cddae2;

$iconsTx: #000;



/* TIMESHEETS LANDING PAGE */

/* TIMESHEETS DETAILS PAGE */
$detailsBg: #cddae2;
$detailsTitleTx: #515e66;
$detailsTitleTxSpl: #ce7f29;

$detailsTableBg: #ce7f29;
$detailsTableTx:#cddae2;

$detailsRowBg:#445159;
$detailsRowBgAlt:#5f6c74;
$detailsRowBgHover:#244d67;
$detailsRowBgDirty:#2A2C3A;

$detailsRowTx:#2ed0f0;
$detailsRowAltTx:#f4c641;

//modal styles
$modalBgColor: #cddae2;
$modalCloseTx : #ce7f29;

$modalPrimaryHeadingTx:#ce7f29;
$modalSecondaryHeadingTx: #515e66;
$modalOtherHeadingTx: #515e66;
$modalAltHeadingTx:#1e85dc; 

//light background colors
$fontColor : #515e66;


//Select Dropdown elemets
$selectTx: #515e66;
$selectTxBg: #a8aeb2;



