
$mainBodyBg: #fff;

/* buttons colors variables */
$primaryButtonBg: #f4c641;
$primaryButtonTx: #515e66;

$saveButtonBg: #f4c641;
$saveButtonTx: #515e66;

$cancelButtonBg: #515e66;
$cancelButtonTx: #ffffff;

$editButtonBg: #2ed0f0;
$editButtonTx: #ffffff;

$approveButtonBg: #008000;
$approveButtonTx: #ffffff;

$rejectButtonBg: #FF0000;
$rejectButtonTx: #ffffff;


/* Header variables */
$headerBG: #fff;
$headerLogo: url(../images/global-homepage-bp-logo-image.png) no-repeat 50% 50%;
$headerBorder: #008300;
$logoWidth: 284px;
$logoHeight: 35px;

/* footer variables */



$footerBgColor: #005900;
$footerFontColor: #deefc4;

/* FOOTER ELEMENT VARIABLES don't modify below */
 // can have absolute/relative/fixed default value: fixed
/* FOOTER ELEMENT VARIABLES don't modify below */

// these variable are defined for header logo, position, height and widht 



/* LADING PAGE VARIABLES */
$iconsBG: #239a44;
$iconsColor: #000;
$iconsTxColor: #000;
$white: #ffffff;
$black: #000000;

$landingIconsBg: #deefc4;

/* TIMESHEETS LANDING PAGE */

$timeheetsHeadingBg: #dddee0;
$timeheetsHeadingTx: #0d8234;

$headDateTx: #005900;


$tableBorder: #fff;
$tHeadBg: #023718;
$tHeadTx: #ffffff;
$rowColor: #71A277;
$rowColorAlt: #E5F1EA;
$rowColorHover: #26754d;
$rowColotTx: #0c2717;

$iconsTx: #005900;



/* TIMESHEETS LANDING PAGE */

/* TIMESHEETS DETAILS PAGE */
$detailsBg: #dddee0;
$detailsTitleTx: #515e66;
$detailsTitleTxSpl: #005900;

$detailsTableBg: #175F4B;
$detailsTableTx:#cddae2;

$detailsRowBg:#71A277;
$detailsRowBgAlt:#E5F1EA;
$detailsRowBgHover:#26754d;
$detailsRowBgDirty:#A5A5A5;

$detailsRowTx:#585A3F;
$detailsRowAltTx:#19545F;

//modal styles
$modalBgColor: #fff;
$modalCloseTx : #ce7f29;

$modalPrimaryHeadingTx:#2C990A;
$modalSecondaryHeadingTx: #515e66;
$modalOtherHeadingTx: #515e66;
$modalAltHeadingTx:#1e85dc; 

//light background colors
$fontColor : #515e66;


//Select Dropdown elemets
$selectTx: #deefc4;
$selectTxBg: #05893d;



