
$mainBodyBg: #ffffff; 

/* buttons colors variables */
$primaryButtonBg: #490745;
$primaryButtonTx: #fff;

$saveButtonBg: #490745;
$saveButtonTx: #fff;

$cancelButtonBg: #515e66;
$cancelButtonTx: #ffffff;

$editButtonBg: #0d748e;
$editButtonTx: #ffffff;

$approveButtonBg: #008000;
$approveButtonTx: #ffffff;

$rejectButtonBg: #FF0000;
$rejectButtonTx: #ffffff;


/* Header variables */
$headerBG: #271426;
$headerLogo: url(../images/logo_2.png) no-repeat 50% 50%;
$logoWidth: 284px;
$logoHeight: 35px;

/* footer variables */



$footerBgColor: #271426;
$footerFontColor: #dcdcdc;

/* FOOTER ELEMENT VARIABLES don't modify below */
 // can have absolute/relative/fixed default value: fixed
/* FOOTER ELEMENT VARIABLES don't modify below */

// these variable are defined for header logo, position, height and widht 



/* LADING PAGE VARIABLES */
$iconsBG: #6e97c6;
$iconsColor: #000;
$iconsTxColor: #000;
$white: #ffffff;
$black: #000000;

$landingIconsBg: #f2f9ff;

/* TIMESHEETS LANDING PAGE */

$timeheetsHeadingBg: #e2e2e2;
$timeheetsHeadingTx: #515e66;

$headDateTx: #350b33;


$tableBorder: #cddae2;
$tHeadBg: #5d3c5b;
$tHeadTx: #ffffff;
$rowColor: #f4e9ec;
$rowColorAlt: #fdfafc;
$rowColorHover: #f4e9ec;
$rowColotTx: #39383d;

$iconsTx: #350b33;



/* TIMESHEETS LANDING PAGE */

/* TIMESHEETS DETAILS PAGE */
$detailsBg: #e2e2e2;
$detailsTitleTx: #7e6b7d;
$detailsTitleTxSpl: #4e0a4a;

$detailsTableBg: #5d3c5b;
$detailsTableTx:#cddae2;

$detailsRowBg:#f4e9ec;
$detailsRowBgAlt:#fdfafc;
$detailsRowBgHover:#f4e9ec;
$detailsRowBgDirty:#a79f9f;

$detailsRowTx:#4e880f;
$detailsRowAltTx:#271426;

//modal styles
$modalBgColor: #e7dae6;
$modalCloseTx : #490745;

$modalPrimaryHeadingTx:#5d3c5b;
$modalSecondaryHeadingTx: #05467c;
$modalOtherHeadingTx: #515e66;
$modalAltHeadingTx:#1e85dc; 

//light background colors
$fontColor : #515e66;


//Select Dropdown elemets
$selectTx: #515e66;
$selectTxBg: #a8aeb2;



